@use "../../foundation/import";
@use "../../mixin" as m;
// Base (Mobile First)

// indexページのlocationセクション
.p-index-location {
  margin-bottom: 80px;
  background-color: import.$color-base;
  &__title-wrapper{
    width: 100vw;
    margin-left: calc(50% - 50vw);
    height: 164px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .p-index-location__list{
    padding-bottom: 40px;
  }
  &__img-wrapper {
    margin: 0 calc(50% - 50vw);
    img {
      width: 100%;
    }
    padding-bottom: 40px;
  }
  &__content {
    background-color: import.$color-white;
    position: relative;
    z-index: 2;
    padding-bottom: 40px;
    &::after {
      content: "";
      background-color: import.$color-white;
      position: absolute;
      width: 100vw;
      height: 405px;
      top: -40px;
      z-index: -1;
      margin-left: calc(50% - 50vw);
    }
  }
  &__content-title {
    font-size: 2rem;
    margin-bottom: 28px;
    letter-spacing: 0.2em;
    transform: translateY(1px);
  }
  &__content-plan {
    font-weight: 500;
    margin-bottom: 36px;
  }
  &__content-text {
    margin-bottom: 40px;
    line-height: 24px;
    span{
      letter-spacing: 0em;
    }
  }
}

@include m.mq(tab) {
  // indexページのlocationセクション
  .p-index-location {
    padding-bottom: 160px;
    &__list {
      display: flex;
      flex-direction: row-reverse;
      &:nth-child(2) {
        flex-direction: row;
        margin-right: 0;
        margin-left: calc(50% - 50vw);
        .p-index-location__img-wrapper{
          padding-top: 156px;
          width: 63%;
          &::after {
            display: none;
          }
        }
        .p-index-location__content {
          background-color: import.$color-mask;
          transform: translateX(-30px);
          margin-top: 237px;
          &-title{
            margin-bottom: 23px;
          }
        }
      }
      &:nth-child(3) {
        .p-index-location__img-wrapper{
          padding-top: 160px;
          width: 77%;
          &::after {
            content: "";
            background-color: import.$color-mask;
            height: 450px;
            width: 88px;
            display: block;
            position: absolute;
            top: 240px;
          }
        }
        .p-index-location__content {
          margin-top: 240px;
          &-title{
            margin-bottom: 23px;
          }
        }
      }
    }
    &__img-wrapper {
      margin: 0;
      margin-right: calc(50% - 50vw);
      position: relative;
      width: 75%;
      &::after {
        content: "";
        background-color: import.$color-mask;
        height: 450px;
        width: 80px;
        display: block;
        position: absolute;
        top: 192px;
      }
      img {
        width: 100%;
      }
      padding: 112px 0 40px 0;
    }
    &__content {
      padding-left: 40px;
      margin-top: 194px;
      height: 450px;
      width: 620px;
      &::after {
        display: none;
      }
    }
    &__content-title {
      font-size: 4rem;
      margin: 40px 0 20px 0;
    }
    &__content-plan {
      margin-bottom: 35px;
    }
    &__content-text {
      width: 400px;
    }
    .c-button {
      width: 175px;
    }
  }
}
