@use "../../foundation/import";
@use "../../mixin" as m;
// Base (Mobile First)

.c-title {
    font-size: 2rem;
    letter-spacing: 0.1em;
    font-weight: 600;
    text-align: center;
    span {
      font-size: 1.2rem;
      color: import.$color-accent;
      letter-spacing: 0.1em;
      line-height: 2;
    }
  }

@include m.mq(tab) {
  .c-title {
      font-size: 4rem;
      span {
        font-size: 2.4rem;
      }
    }
  }

